.premier-paragraphe {
    color:rgb(8, 3, 87);
    
}
h2{
    background-color: rgb(9, 248, 117);
    color: rgb(8, 3, 87);
    max-width: 800px;
    
    
}
.competences {
    text-transform: uppercase;
    color:rgb(8, 3, 87);
}
body{
    height: 100vh;
    background-image: linear-gradient(to right,#e09c1e, #195985);
    font-weight: bold;
    font-family: 'Comic Neue', cursive;

}

ul{list-style-type: none;
    


}
.premier-paragraphe a {
    text-decoration:none;  
    color:rgb(8, 3, 87);

}





